:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
 
input {
  -webkit-appearance: none;
}
 
button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  font: 1rem/1.3 "Roboto", sans-serif;
  background: var(--bg_main);
  color: var(--text_dark);
  padding: 70px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}


/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-banner {
  color: var(--text_light);
}

.heading {
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 0.02em;
  padding: 0 0 30px 0;
  display: inline-block;
}

#form {
  position: relative;
  display: flex;
  align-items: center;
}

#form input {
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}

#form input::placeholder {
  color: currentColor; 
}

#form button {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: var(--red);
  transition: background 0.3s ease-in-out;
}

#form button:hover {
  background: var(--darkred);
}

#form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}


/* SECTION #2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ajax-section {
  margin: 70px 0 20px;
 
}

.ajax-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
}

.ajax-section .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: var(--text_light);
  color: var(--text_med);
}

.ajax-section .city::after {
  content: '';
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: var(--text_light);
}

.ajax-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ajax-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}

.ajax-section .city sup {
  font-size: 0.5em;
}

.ajax-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}

.ajax-section .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  text-align: right;
  font-size: 1rem;
  color: var(--text_light);
  margin-top: 40px;
}

.page-footer span {
  color: var(--red);
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1000px) {
  body {
    padding: 30px;
  }
  
  .ajax-section .cities {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .heading,
  .ajax-section .city-temp {
    font-size: 3rem;
  }
  
  .ajax-section {
    margin-top: 20px;
  }
  
  #form {
      flex-direction: column;
      align-items: flex-start;
    }
    
  #form input,
  #form button {
      width: 100%;
    }

  #form button {
      margin: 20px 0 0 0;
    }
    
  #form .msg {
      position: static;
      max-width: none;
      min-height: 0;
      margin-top: 10px;
    }

  .ajax-section .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 15px;
  }
  
  .ajax-section .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* API Key banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.api {
  background: #fffbbc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.api a {
  text-decoration: underline;
}

.api a:hover {
  text-decoration: none;
}


.weather-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.weather-text {
	text-align: center;
	padding-top: 1vh;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
  color: white;
}

.city-weather {
  margin-top: 1vh;
  margin-left: 60vw;
  width: 10vw;
  background-color: rgb(86, 193, 230);
}



@import "compass/css3";

.my-container{
  display:flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

html{
  font-family: 'Roboto Slab', sans-serif;
}
body{
  background: #0a1f44;
  color: #313E48;
}
img{
  max-width: 100%;
}

.table{
  font-size: 2rem;
}

.tr {
  display: flex;
}
.td {
  width: 20%;
  text-align: left;
  border: 1px solid #777;
  padding: 10px;
}
.th {
  display: flex;
  text-align: left;
  color: white;
  font-weight: bold;
}

.box{
  margin: 1em auto;
  background: #f0f0f0;
  padding: 2em 0;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0px 1px 7px rgba(0,0,0, 0.25);
}
  
.box .temp{
  font-size: 7em;
  line-height: 1;
  text-align: center;
  display: block;
  padding-left: 30px;
  margin-bottom: 24px;
}
.box .high-low{
  font-size: 2em;
  color: lighten(#313E48, 20%);
  text-align: center;
  display: block;
  font-weight: 100;
}

.box h1{
  font-size: 2em;
  text-align: center;
}
.weather .icon{
  position: relative;
  margin: 0 auto;
}
.spin{
  position: absolute;
  top: 16px;
  right: 18px;
  text-align: center;
  width: 65px;
}


  .bubble.black {
    background-color: #f0f0f0;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 0px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

  .bubble.black:after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 14px;
    border-style: solid;
    border-width: 29px 15px 0;
    border-color: #f0f0f0 transparent;
    display: block;
    width: 0;
    z-index: 1;
    transform: rotate(30deg);
  }


.spin img{
  animation: spin 5s linear infinite;
  animation-play-state: paused;
}

.box:hover .spin img{
   animation-play-state: running;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}